service vendor.bluetooth-opi /vendor/bin/hw/android.hardware.bluetooth-service.opi
    interface aidl android.hardware.bluetooth.IBluetoothHci/default
    class hal
    capabilities BLOCK_SUSPEND NET_ADMIN SYS_NICE NET_RAW
    user bluetooth
    group bluetooth net_bt_admin net_bt inet net_raw
    task_profiles HighPerformance
